.responsive-box {
    border-radius: 20px !important;
    --border-size: 0.2rem;
    border: var(--border-size) solid transparent;

    /* Paint an image in the border */
    border-image: conic-gradient(from var(--angle),
            #F7A582 0deg 90deg,
            #07332F 270deg 360deg) 1 stretch;
    background-color: white;
}

/* Animate when Houdini is available */
@supports (background: paint(houdini)) {
    @property --opacity {
        syntax: "<number>";
        initial-value: 0.5;
        inherits: false;
    }

    @property --angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }

    @keyframes opacityChange {
        to {
            --opacity: 1;
        }
    }

    @keyframes rotate {
        to {
            --angle: 360deg;
        }
    }

    .responsive-box {
        animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
    }
}